.container {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 1.25rem;
    margin-block: 10px;
    width: calc(100% - 3.5rem);
    height: 4rem;
    align-items: center;
    padding: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
    text-align: left;
}

.completedText {
    text-decoration: line-through;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
}
